<div class="row bg-light py-5">
    <div class="col">
        <div class="">
            <div class="row ml-1 mr-1">

                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <!-- <a href="https://www.bths.edu/apps/pages/index.jsp?uREC_ID=231673&type=d"> -->
                    <img class="feature" src="assets/images/software-engineering.jpg" alt="Tony Lin">
                    <!-- </a> -->
                </div>

                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="mb-5">
                        <h2 class="mb-4 mt-5">
                            HTML, CSS, Javascript, Java, & SQL
                        </h2>

                        <h5 class="text-muted mb-4">
                            I'm glad my highschool had a software engineering major, otherwise
                            I would have learned to code much later.
                        </h5>

                        <h5 class="text-muted mb-4">
                            We learned web development through examples on W3Schools
                            as well as object oriented programming
                            by making games on the console and Java GUI.
                        </h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>