<div class="row bg-light py-5">
    <div class="col">
        <div class="">
            <div class="row ml-1 mr-1">

                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <img class="feature" src="assets/images/software-engineering.jpg" alt="Tony Lin">
                </div>

                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="mb-5">
                        <!-- <h2 class="mt-5">
                            Jello -
                        </h2> -->
                        <h2 class="mb-4 mt-5">
                            Flight Booking <br><strong>Simulator</strong>
                        </h2>

                        <h5 class="text-muted mb-4">
                            Full scale project management tool/issue tracking application
                            designed to streamline workflows 🗂️
                        </h5>

                        <div id="inspired" class="mb-2">
                            <strong class="bold-text-16">Inspired by...</strong>
                        </div>

                        <div class="cta-subheadline mb-2">
                            <strong class="bold-text-16">Two versions available</strong>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>