<div class="row bg-light py-5">
    <div class="col">
        <div class="pb-5">
            <div class="row">
                <div class="col-lg-5 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <h2 class="mb-3">
                            Lactose Fartolerance
                        </h2>
                        <h5 class="text-muted pb-3 mb-3">A multiplayer 2D game built with Nodes.js, Express.js, MongoDB,
                            and Socket.io. Players run around a map shooting each other and drinking milk to replenish
                            their health bar.
                        </h5>
                        <h2 class="mb-3">
                            CloutFit
                        </h2>
                        <h5 class="text-muted pb-3 mb-3">An AR app
                        </h5>
                        <h2 class="mb-3">
                            Bonizza
                        </h2>
                        <h5 class="text-muted pb-3 mb-3">An IOS app
                        </h5>
                        <h2 class="mb-3">
                            813 HW Blog
                        </h2>
                        <h5 class="text-muted pb-3 mb-3">Blog built
                        </h5>
                    </div>
                </div>
                <div class="col-lg-7 pr-lg-5">
                    <div class="feature">
                        <img src="assets/images/tony-lin.jpg" alt="Tony Lin"
                            style="position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>