<div class="row bg-light py-5">
    <div class="col">
        <div class="pb-5">
            <div class="row">
                <div class="col-lg-3 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <h2 class="mb-3">
                            Front End <i-feather name="layout"></i-feather>
                        </h2>
                        <h5 class="text-muted">Angular</h5>
                        <h5 class="text-muted">React</h5>
                        <h5 class="text-muted">Typescript</h5>
                        <h5 class="text-muted">SCSS</h5>
                        <h5 class="text-muted">Bootstrap</h5>
                    </div>
                </div>
                <div class="col-lg-3 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <h2 class="mb-3">
                            Back End <i-feather name="server"></i-feather>
                        </h2>
                        <h5 class="text-muted">C#/.NET</h5>
                        <h5 class="text-muted">Java/Spring</h5>
                        <h5 class="text-muted">C++</h5>
                        <h5 class="text-muted">C</h5>
                        <h5 class="text-muted">Python/Django</h5>
                    </div>
                </div>
                <div class="col-lg-3 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <h2 class="mb-3">
                            Databases <i-feather name="database"></i-feather>
                        </h2>
                        <h5 class="text-muted">SQL Server</h5>
                        <h5 class="text-muted">mySQL</h5>
                        <h5 class="text-muted">Redis</h5>
                        <h5 class="text-muted">SQLite</h5>
                        <h5 class="text-muted">PostgreSQL</h5>
                    </div>
                </div>
                <div class="col-lg-3 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <h2 class="mb-3">
                            Deployment <i-feather name="cloud"></i-feather>
                        </h2>
                        <h5 class="text-muted">Systems Design</h5>
                        <h5 class="text-muted">Azure</h5>
                        <h5 class="text-muted">Git</h5>
                        <h5 class="text-muted">Docker</h5>
                        <h5 class="text-muted">AWS EC2</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>