<div class="card-container row py-5">
    <h1 class="text-center">
        <font style="font-weight: 600;">Using these </font><br>languages, frameworks, and technologies
    </h1>
    <div class="cards-container">
        <div class="cards">
            <div class="card border-dark text-center justify-content-center align-items-center">
                <h2 class="mt-2">Front End</h2>
                <i-feather name="layout" class="big"></i-feather>
                <h5 class="text-muted">Angular</h5>
                <h5 class="text-muted">React</h5>
                <h5 class="text-muted">Typescript</h5>
                <h5 class="text-muted">SCSS</h5>
                <h5 class="text-muted">Bootstrap</h5>
            </div>
        </div>
        <div class="cards">
            <div class="card border-dark text-center justify-content-center align-items-center">
                <h2 class="mt-2">Back End</h2>
                <i-feather name="server" class="big"></i-feather>
                <h5 class="text-muted">C#/.NET</h5>
                <h5 class="text-muted">Java/Spring</h5>
                <h5 class="text-muted">C++</h5>
                <h5 class="text-muted">C</h5>
                <h5 class="text-muted">Python/Django</h5>
            </div>
        </div>
        <div class="cards">
            <div class="card border-dark text-center justify-content-center align-items-center">
                <h2 class="mt-2">Databases</h2>
                <i-feather name="database" class="big"></i-feather>
                <h5 class="text-muted">SQL Server</h5>
                <h5 class="text-muted">mySQL</h5>
                <h5 class="text-muted">Redis</h5>
                <h5 class="text-muted">SQLite</h5>
                <h5 class="text-muted">PostgreSQL</h5>
            </div>
        </div>
        <div class="cards">
            <div class="card border-dark text-center justify-content-center align-items-center">
                <h2 class="mt-2">Deployment</h2>
                <i-feather name="upload-cloud" class="big"></i-feather>
                <h5 class="text-muted">Systems Design</h5>
                <h5 class="text-muted">Azure</h5>
                <h5 class="text-muted">Git</h5>
                <h5 class="text-muted">Docker</h5>
                <h5 class="text-muted">AWS EC2</h5>
            </div>
        </div>
    </div>
</div>