

h1 {
  font-size: 2.5vw;
}

h6 {
  font-size: 1.5vw;
}

h3 {
  font-size: 2.5vw;
}

.rounded-circle {
  border: 2px solid black;
}

.btn-border {
  border: 1px solid black;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  height: 100%;
}
*,
:after,
:before {
  box-sizing: border-box;
}

@media only screen and (min-width: 1366px) {
  .row {
    height: 100vh;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 7vw;
  }

  h6 {
    font-size: 4vw;
  }

  h3 {
    font-size: 6vw;
  }
}
