<div class="container-fluid">
    <div class="row bg-black py-5">
        <div class="col-lg-5 mb-5 mb-lg-0 d-flex justify-content-center align-items-center text-center">

            <div class="mb-4">
                <h1 class="mb-3 text-white">
                    <span class="font-weight-light">
                        Heading
                    </span>
                    <br>
                    Heading 2.
                </h1>
                <h6 class="text-white-50">Subheading.</h6>

                <div class="mb-3">
                    <a href="#" target="_blank" class="btn btn-lg btn-primary px-4">Install</a>
                </div>

                <div class="text-muted">
                    Also available on
                    <a href="#" target="_blank">Firefox</a>
                </div>

            </div>

            <div class="col-lg-7">
                <div class="pr-0 pr-lg-4">
                    <img src="../images/tony-lin.jpg" alt="Tony Lin" style="width:100%;">
                </div>
            </div>
        </div>
        text



    </div>
</div>