.rounded-circle {
  border: 2px solid black;
}

.btn-border {
  border: 1px solid black;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  height: 100%;
}
*,
:after,
:before {
  box-sizing: border-box;
}

@media only screen and (min-width: 1366px) {
  .row {
    height: 100vh;
  }
}
