<div class="row bg-black py-5 d-flex justify-content-center align-items-center text-center"
    style.background-color="{{ bgColor }}">
    <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="mb-4 ml-5">
            <h1 class="mb-4 text-center" style.color="{{ whiteBlack }}">
                <span class="font-weight-light">Full Stack Software Engineer</span>
                <br>
                .NET Specialist
            </h1>
            <h6 class="mb-5 text-center" style.color="{{ textColor }}">With experience designing,
                building, and
                deploying applications
                from scratch utilizing architectural
                and design patterns among various frameworks, tools, and technologies.
            </h6>
            <div class="mb-3 d-inline-flex align-items-center text-center">
                <i-feather name="corner-left-down" class="mr-3"></i-feather>
                <a href="#" target="_blank"
                    class="btn btn-lg btn-primary btn-cta px-4 d-inline-flex align-items-center">
                    Projects
                    <i-feather name="chevrons-down" class=""></i-feather>
                </a>
                <i-feather name="corner-right-down" class="ml-3"></i-feather>
            </div>
            <div class="text-center" style.color="{{ textColor }}">
                Also available on
                <a href="#" target="_blank">Firefox</a>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class=" pr-lg-4">
            <div class="text-center mb-4">
                <div class="rounded-circle mb-4"
                    style="position:relative;overflow:hidden;display:inline-block;width:200px;height:200px">
                    <img src="assets/images/tony-lin.jpg" alt="Tony Lin"
                        style="position:absolute;top:0;left:0;width:100%;height:100%;" />
                </div>
                <h3 class="mb-3" style.color="{{ whiteBlack }}">
                    <span class=" font-weight-light">Hi, I'm</span>
                    Tony Lin.
                </h3>
                <h5 style.color="{{ textColor }}">Software Engineer</h5>
            </div>

            <div class="text-center mb-5">
                <a href="linkedin.com" target="_blank">
                    <button class="btn btn-primary btn-border d-inline-flex align-items-center"
                        style="background-color:#2867B2;">
                        <i-feather name="linkedin" class="mr-2"></i-feather>@lin-tony
                    </button>
                </a>
                <a href="github.com" target="_blank">
                    <button class="btn btn-white btn-border d-inline-flex align-items-center ml-3">
                        <i-feather name="github" class="mr-2"></i-feather>@tonylintonylin
                    </button>
                </a>
                <a class="text-white" href="Tony%20Lin%20Resume.pdf" target="_blank">
                    <button class="btn btn-info btn-border d-inline-flex align-items-center ml-3 my-2">
                        📃 Resume
                    </button>
                </a>
            </div>

        </div>
    </div>


</div>