<div class="row py-5 mt-5 d-flex justify-content-center align-items-center text-center">
    <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="mb-4">
            <h1 class="mb-5 text-center">
                <span>Full Stack Software Engineer</span>
                <br>
                <span class="text-black-50">.NET Specialist</span>
            </h1>
            <h6 class="mb-5 text-center">With experience designing,
                building, and
                deploying applications
                from scratch utilizing architectural
                and design patterns among various frameworks, tools, and technologies.
            </h6>
            <div class="mb-3 text-center">
                <a href="#projects" class="btn btn-lg btn-danger btn-cta d-inline-flex align-items-center mr-2">
                    Projects <i-feather name="chevrons-down"></i-feather>
                </a>
                <a href="#head-4" class="btn btn-lg btn-primary btn-cta d-inline-flex align-items-center my-2">
                    Book a call <i-feather name="phone-call" class="ml-1"></i-feather>
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class=" pr-lg-4">
            <div class="text-center mb-4">
                <div class="rounded-circle mb-4"
                    style="position:relative;overflow:hidden;display:inline-block;width:200px;height:200px">
                    <img src="assets/images/tony-lin.jpg" alt="Tony Lin"
                        style="position:absolute;top:0;left:0;width:100%;height:100%;max-width: 100%;" />
                </div>
                <h3 class="mb-3">
                    <span class="font-weight-light">Hi, I'm</span>
                    Tony Lin.
                </h3>
                <h5>I love <span class="process-typing-element"></span></h5>
            </div>

            <div class="text-center mb-5">
                <a class="col-4 text-white" href="assets/Tony%20Lin%20Resume.pdf" target="_blank">
                    <button class="btn btn-danger btn-border d-inline-flex align-items-center my-2">
                        📃 Resume
                    </button>
                </a>
                <a class="col-4" href="https://www.linkedin.com/in/lin-tony/" target="_blank">
                    <button class="btn btn-primary btn-border d-inline-flex align-items-center my-2"
                        style="background-color:#2867B2;">
                        <i-feather name="linkedin" class="mr-2"></i-feather>@lin-tony
                    </button>
                </a>
                <a class="col-4" href="https://github.com/tonylintonylin" target="_blank">
                    <button class="btn btn-white btn-border d-inline-flex align-items-center my-2">
                        <i-feather name="github" class="mr-2"></i-feather>@tonylintonylin
                    </button>
                </a>
            </div>

        </div>
    </div>


</div>