<div class="row bg-light py-5">
    <div class="col">
        <div class="pb-5">
            <div class="row">
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <h2 class="mb-3">
                            .NET Specialist
                        </h2>
                        <h5 class="text-muted pb-3 mb-3">Specialist in developing ASP.NET Core MVC, MVVM, and Web API
                            applications with C#/.Net Core
                        </h5>
                        <h5 class="text-muted pb-3 mb-3">Reusable
                            components with
                            Angular/Typescript
                        </h5>
                        <h5 class="text-muted pb-3 mb-3">And Databases with T-SQL
                        </h5>
                    </div>
                </div>
                <div class="col-lg-2 d-flex justify-content-center align-items-center">
                    <span class="icon icon-cSharp"></span>
                </div>
                <div class="col-lg-2 d-flex justify-content-center align-items-center">
                    <span class="icon icon-angular"></span>
                </div>
                <div class="col-lg-2 d-flex justify-content-center align-items-center">
                    <span class="icon icon-sql"></span>
                </div>

            </div>
        </div>
    </div>
</div>