<div class="row bg-light py-5">
    <div class="col">
        <div class="pb-5">
            <div class="row">
                <div class="col-lg-5 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <h2 class="mb-3">
                            Feature 1
                        </h2>
                        <h5 class="text-muted pb-3 mb-3">Feature description goes here.</h5>
                    </div>
                </div>
                <div class="col-lg-7 d-flex justify-content-center align-items-center">
                    <img class="feature" src="assets/images/tony-lin.jpg" alt="Tony Lin">
                </div>
            </div>
        </div>
    </div>
</div>