<div class="row bg-light">
    <div class="col">
        <div class="pb-5">
            <div class="row">


                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="mb-5">
                        <h2 class="mt-5">
                            CloutFit -
                        </h2>
                        <h2 class="mb-4">
                            Project & Issue Tracker
                        </h2>

                        <h5 class="text-muted mb-4">
                            Full scale project management tool/issue tracking application
                            designed to streamline workflows 🗂️
                        </h5>

                        <div class="mb-2">
                            <strong class="bold-text-16">Inspired by...</strong>
                        </div>

                        <!-- svg -->

                        <div class="cta-subheadline mb-2">
                            <strong class="bold-text-16">Two versions available</strong>
                        </div>

                        <button type="button" class="btn btn-primary">
                            ASP.Net Core MVC
                        </button>

                        <button type="button" class="btn btn-outline-primary ml-3">
                            MVVM (Razor Pages)
                        </button>
                    </div>
                </div>

                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <img class="feature" src="assets/images/lactose-fartolerance.jpg" alt="Tony Lin">
                </div>
            </div>
        </div>
    </div>
</div>