<div class="row bg-light">
    <div class="col">
        <div class="pb-5">
            <div class="row ml-1 mr-1">
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <a href="https://github.com/DanVersa/Cloutfit" target="_blank">
                        <img class="feature" src="assets/images/cloutfit.jpg" alt="Tony Lin">
                    </a>
                </div>

                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="mb-5">
                        <h2 class="mt-5">
                            CloutFit -
                        </h2>
                        <h2 class="mb-4">
                            IOS AR App
                        </h2>

                        <h5 class="text-muted mb-4">
                            An IOS app that utilized ML (IBM Watson Visual Recognition) to help people pick a matching
                            outfit in AR.
                            <br><br>
                            We had an idea
                            to make choosing an outfit for the day easier for people by algorithmically picking color
                            schemes, patterns, and styles
                            based off an article of clothing users chose themselves.
                        </h5>

                        <div class="mb-2">
                            <strong class="bold-text-16">Made at <a href="https://hackthenorth.com/">Hack The North</a>
                            </strong>
                        </div>

                        <!-- svg -->

                        <div class="cta-subheadline mb-2">
                            <strong class="bold-text-16">Repo available</strong>
                        </div>

                        <a href="https://github.com/DanVersa/Cloutfit" target="_blank">
                            <button class="btn btn-dark d-inline-flex align-items-center">
                                <i-feather name="github" class="mr-2"></i-feather>Repo
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>