<div class="process-container row bg-light py-5 mb-5">
    <h1>
        <font style="font-weight: 600;">Tenacious Enough To Work Through</font><br>The Entire Process
    </h1>
    <div class="cards-container">
        <div class="cards">
            <i-feather name="database"></i-feather>
            <h4>Design Database Model</h4>
            <p>Translate project requirements into entity relationships with properties</p>
        </div>
        <div class="cards">
            <i-feather name="code"></i-feather>
            <h4>Develop Essential Functionalities</h4>
            <p>This includes the ability to perform CRUD operations on entities</p>
        </div>
        <div class="cards">
            <i-feather name="star"></i-feather>
            <h4>Create Secondary Functions</h4>
            <p>This is what makes the software unique in the market<br></p>
        </div>
        <div class="cards">
            <i-feather name="users"></i-feather>
            <h4>Create Minimum Viable UI</h4>
            <p>Just enough that users would want to ask for improvements</p>
        </div>
        <div class="cards">
            <i-feather name="git-pull-request"></i-feather>
            <h4>Test All Functionalities</h4>
            <p>Run through every functionality and debug</p>
        </div>
        <div class="cards">
            <i-feather name="upload-cloud"></i-feather>
            <h4>Deploy & Get Feedback</h4>
            <p>Refactor, optimize, And improve the code, design, and experience</p>
        </div>
    </div>
</div>