<div class="process-container row bg-light py-5">
    <h1 class="text-center">
        <font style="font-weight: 600;">I <span class="red">LOVE</span> Building Full Stack Applications</font><br>From Start To End
    </h1>
    <div class="cards-container">
        <div class="cards solid">
            <i-feather name="database"></i-feather>
            <h4>Design Database Model</h4>
            <p>Translate project requirements into entities and relationships</p>
        </div>
        <div class="cards solid">
            <i-feather name="code"></i-feather>
            <h4>Develop Essential Functionalities</h4>
            <p>This includes the ability to perform CRUD operations on entities</p>
        </div>
        <div class="cards solid">
            <i-feather name="star"></i-feather>
            <h4>Create Software Specific Functions</h4>
            <p>The functionalities that makes the software unique<br></p>
        </div>
        <div class="cards solid">
            <i-feather name="users"></i-feather>
            <h4>Create Minimum Viable UI</h4>
            <p>A solid interface just enough so users would want to give feedback</p>
        </div>
        <div class="cards solid">
            <i-feather name="git-pull-request"></i-feather>
            <h4>Testing Phase</h4>
            <p>Run through every functionality and debug</p>
        </div>
        <div class="cards solid">
            <i-feather name="upload-cloud"></i-feather>
            <h4>Deploy & Get Feedback</h4>
            <p>Refactor, optimize, And improve the <span class="typing-element"></span></p>
        </div>
    </div>
</div>