h2 {
  font-weight: 700;
}

.inspired {
  padding-bottom: 7px;
  padding-left: 0;
  font-size: 14px;
  font-weight: 700;
}

.brand-logos {
  height: 26px;
  margin-bottom: 12px;
}

// SVG

.cls-1 {
  fill: none;
}

.cls-2 {
  fill: #373737;
}

.cls-3 {
  fill: #2a85fe;
}

.cls-4 {
  fill: #393939;
}

.cls-5 {
  fill: #f7f7f7;
}

.cls-6 {
  fill: #0a7dc0;
}

.cls-7 {
  fill: #097dc0;
}

.cls-8 {
  fill: #2985fc;
}

.cls-9 {
  fill: #314361;
}

.cls-10 {
  fill: #3a3a3a;
}

.cls-11 {
  fill: #363636;
}

.cls-12 {
  fill: #f53159;
}

.cls-13 {
  fill: #0b7ec1;
}

.cls-14 {
  fill: #fecc06;
}

.cls-15 {
  fill: #344663;
}

.cls-16 {
  fill: #2d3f5e;
}

.cls-17 {
  fill: #273959;
}

.cls-18 {
  fill: #0c60d8;
}

.cls-19 {
  fill: #0ccc78;
}

.cls-20 {
  fill: #2279ef;
}

.cls-21 {
  fill: #1165dd;
}

.cls-22 {
  fill: #0958cf;
}

.cls-23 {
  fill: #f5f5f5;
}

.cls-24 {
  fill: #f0f6fe;
}

.cls-25 {
  fill: #eaf4fa;
}

.cls-26 {
  fill: #e3f2f9;
}

.cls-27 {
  fill: #f1f7fb;
}

.cls-28 {
  fill: #f8f8f9;
}
