<app-nav-bar (toggleSwitched)="OnToggled($event)"></app-nav-bar>
<div class="container-fluid" (isDay)=OnToggled($event)>
    <app-hero></app-hero>
    <app-two-column></app-two-column>
    <app-fullstack-process></app-fullstack-process>
    <app-cards></app-cards>
    <app-heading-projects></app-heading-projects>
    <app-two-column2></app-two-column2>
    <app-two-column3></app-two-column3>
    <app-two-column4></app-two-column4>
    <app-two-column5></app-two-column5>
    <app-heading></app-heading>
    <app-heading2></app-heading2>
    <app-list></app-list>
    <app-cta></app-cta>
</div>
<app-footer></app-footer>