<div class="bg-gray list-container row py-5">
    <h3 id="head-3">And much more...</h3>
    <ul class="unordered-list">
        <li>Undetectable Ad Blocker</li>
        <li>Instagram Like Bot</li>
        <li>Facebook Element Blocker</li>
        <li>Tinder Swiping Script</li>
        <li>Ecommerce Sites</li>
        <li>Custom Funnel Landing Pages</li>
        <li>LinkedIn Profinder Outreach Bot</li>
        <li>Automatic Doordash Account Creator</li>
        <li>AR Computer Vision App With Vuforia SDK</li>
        <li>Raspberry Pi Educational Game</li>
        <li>Projects That Never Got Saved</li>
        <li>Confidential Stuff</li>
    </ul>
</div>