<div class="row bg-light">
    <div class="col">
        <div class="pb-5">
            <div class="row ml-1 mr-1">
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="mb-5">
                        <h2 class="mt-5">
                            Lactose Fartolerance -
                        </h2>
                        <h2 class="mb-4">
                            <strong>Multiplayer 2D game</strong>
                        </h2>

                        <h5 class="text-muted mb-4">
                            Built with MongoDB, Express.js, Node.js and Socket.io.
                            <br><br>
                            Players move and shoot around a map while
                            drinking milk to replenish their health bar.
                        </h5>

                        <!-- svg -->

                        <div class="cta-subheadline mb-2">
                            <strong class="bold-text-16">Repo available</strong>
                        </div>

                        <a href="https://github.com/tonylintonylin/LactoseFartolerance" target="_blank">
                            <button class="btn btn-dark d-inline-flex align-items-center">
                                <i-feather name="github" class="mr-2"></i-feather>Repo
                            </button>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <a href="https://github.com/tonylintonylin/LactoseFartolerance" target="_blank">
                        <img class="feature" src="assets/images/lactose-fartolerance.jpg" alt="Tony Lin">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>