<nav id="navbar" class="navbar animated fadeInDown" aria-label="navbar">
    <div class="container-fluid">
        <a class="col-1 navbar-brand" href="#">Tony Lin</a>

        <div class="wrapper" style="float:right">
            <div class="toggle">
                <input (click)="toggle()" class="toggle-input" type="checkbox" />
                <div class="toggle-bg"></div>
                <div class="toggle-switch">
                    <div class="toggle-switch-figure"></div>
                    <div class="toggle-switch-figureAlt"></div>
                </div>
            </div>
        </div>
    </div>
</nav>