/* You can add global styles to this file, and also import other style files */
$font-family-base: "Inter", sans-serif;

.bg-black {
  background-color: black;
}

.btn-cta:hover {
  transform: scale(1.02);
}

.feature {
  padding-top: 62.5%;
  max-width: 900px;
}

@import "~bootstrap/scss/bootstrap";
