/* You can add global styles to this file, and also import other style files */
$font-family-base: "Inter", sans-serif;

.bg-black {
  background-color: black;
}

.btn-cta:hover {
  transform: scale(1.02);
}

.feature {
  width: 100%;
  max-width: 800px;
  height: auto;
}

@import "~bootstrap/scss/bootstrap";
