<div class="row bg-light py-5">
    <div class="col">
        <div class="pb-5">
            <div class="row ml-1 mr-1">
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="mb-5">
                        <!-- <h2 class="mt-5">
                            Jello -
                        </h2> -->
                        <h2 class="mb-4 mt-5">
                            Project & Issue <br><strong>Tracker</strong>
                        </h2>

                        <h5 class="text-muted mb-4">
                            Full scale project management tool/issue tracking application
                            designed to streamline workflows 🗂️
                        </h5>

                        <div id="inspired" class="mb-2">
                            <strong class="bold-text-16">Inspired by...</strong>
                        </div>

                        <div class="cta-subheadline mb-2">
                            <strong class="bold-text-16">Two versions available</strong>
                        </div>
                        <a class="text-white" href="Tony%20Lin%20Resume.pdf" target="_blank">
                            <button class="btn btn-primary mr-2 my-2">
                                ASP.Net Core MVC
                            </button>
                        </a>
                        <a href="linkedin.com" target="_blank">
                            <button class="btn btn-outline-primary my-2">
                                MVVM (Razor Pages)
                            </button>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <a href="linkedin.com" target="_blank">
                        <img class="web-feature" src="assets/images/blog.png" alt="Tony Lin">
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>