<div class="row bg-light py-4">
    <div class="col">
        <div class="pb-5">
            <div class="row">
                <div class="col-lg-5 d-flex justify-content-center">
                    <div class="mb-5">
                        <h2 class="mb-3 my-5">
                            Feature Headline
                        </h2>
                        <h5 class="text-muted pb-3 mb-3">Feature description goes here. Feature description goes here.
                            Feature description goes here.</h5>
                        <div id="smallCTA" class="cta-subheadline">
                            <strong class="bold-text-16">Let's get you started now!</strong>
                        </div>

                        <button type="button" class="btn btn-primary">
                            Start Now
                        </button>

                        <button type="button" class="btn btn-outline-primary ml-3">
                            Learn more
                        </button>

                    </div>
                </div>
                <div class="col-lg-7 pr-lg-5">
                    <div class="feature mx-auto shadow-lg rounded">
                        <img src="assets/images/tony-lin.jpg" alt="Tony Lin"
                            style="position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>